# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.*

# Node / Packages
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*

# Next.js
.next/
out/
build/

# IDE / Editor / System
.DS_Store
.idea/
.vscode/
*.swp

# Uploads and Archive Files
uploads/
*.zip
!taskflow_test_project.zip
*.tar
*.tar.gz
*.rar
